<div class="front-page">
  <header>
    <div class="logo">
      <a href="/"><img src="{{ site.url }}/images/logo.png" alt="logo" /></a>

    </div>
    <div class="logosq">
        <a href="/"><img src="{{ site.url }}/images/logosq.png" alt="logo" /></a>
    </div>
  <nav>
    <a href="#">Inicio</a>
    <a href="/abogados-inmigracion-despacho.html">Despacho</a>
    <a href="#Servicios">Servicios</a>
    <a href="#Noticias">Noticias</a>
    <a href="#Contacto">Contacto</a>
    <a href="#English">English</a>
    <a href="#buscar"><span class="octicon octicon-search"></span>
  </a>
  </nav>
</header>
<section class="hero-shot">
  <h1>Asesoría jurídica expatriados</h1>
  <h2>Reduciendo los riesgos de los procedimientos judiciales</h2>
  <a href="#servicios"><button type="submit" name="button" class="button">Consulta Nuestros Servicios</button></a>

</section>

</div>
