<header>
  <div class="logo">
    <a href="/"><img src="https://camconsulting/ma/images/logo.png" alt="logo" /></a>

  </div>
  <div class="logosq">
      <a href="/"><img src="https://camconsulting/ma/images/logosq.png" alt="logo" /></a>
  </div>
<nav>
  <a href="/">Inicio</a>
  <a href="{{ site.baseurl }}/abogados-inmigracion-despacho.html">Despacho</a>
  <a href="#Servicios">Servicios</a>
  <a href="#Noticias">Noticias</a>
  <a href="#Contacto">Contacto</a>
  <a href="#English">English</a>
  <a href="#buscar"><span class="octicon octicon-search"></span>
</a>
</nav>
</header>
