<div class="page-nav">
  <div class="logop">
    <a href="{{ site.baseurl }}"><img src="images/logo.png" alt="logo" /></a>

  </div>

  <div class="logosqp">
      <a href="/"><img src="images/logosq.png" alt="logo" /></a>
  </div>
<div class="navp">
  <ul>
    <li><a href="{{ site.baseurl }}">Inicio</a></li>
    <li><a href="/abogados-inmigracion-despacho.html">Despacho</a></li>
    <li><a href="#Servicios">Servicios</a></li>
    <li><a href="#Noticias">Noticias</a></li>
    <li><a href="#Contacto">Contacto</a></li>
    <li><a href="#English"><img src="images/uk.png" alt="In English" style="width:20px; height:20px;" /></a></li>
    <li><a href="#buscar"><span class="octicon octicon-search"></span>
  </a></li>

  </ul>

</div>
<span style="clear: both"></span>
</div>
