<div class="row">
  <div class="large-8 column">
    <div class="row">
      <div class="large-6 columns">
        <img src="images/maciel-morales.jpg" alt="Maciel Morales" />

      </div>
      <div class="large-6 columns">
        <h2>¿Qué podemos hacer por ti?</h2>
          <p>Desde nuestra plataforma digital te damos la bienvenida. Un equipo de abogados especializados en la gestión de expatriados y negocios internacionales facilitarán tus procesos de extranjería/inmigracion, gestión de visados, fiscalidad y movilidad internacional. Un espacio interactivo dedicado al asesoramiento jurídico.
</p>
          <p>
            En Morales Asencio utilizamos las mejores herramientas para mantenerte informado en tus trámites. Agenda tu cita y conoce nuestra oferta de servicios jurídicos.

          </p>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <div id="consulta">
      <h1>Consulta</h1>
      <form class="formulario" action="index.html" method="post">
        <div class="first-section">
          <div class="col1">
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" >

          </div>
          <div class="col2">
            <label for="email">Email</label><br>

            <input type="email" name="email" >

          </div>

        </div>
        <br>
        <div class="second-section">
          <label for="descripción">Descripción</label>
          <textarea name="Descripcion" >¿En qué podemos ayudarte?</textarea>
          <input type="submit" name="name" value="Enviar">

        </div>


      </form>

    </div>


  </div>

</div>
